:root {
    --main-dark: #00a6ff;
    --mid: #e8e8e8;
    --light: #ffffff;
    --dark-acc: #54724a;
    --light-acc: #9fc891;
    --off-white:  #ffffff;
    --light-text: #FFFFFF;
    --dark-text: #000000;
    --highlight: #6bff8c;
    --shadow: #ababab;
}

th {
    width: 7ch;
    height: 5ch;
    max-height: 7ch;
    max-width: 5ch;
    justify-content: center;
    border: black;
    background-color: gray;
}

td {
    text-align: center;
}


body {
    background-color: #EDEDED;
    margin: 0;
    overflow: hidden;
}

line {
    transition-duration: 0.1s;
}

path {
    fill: none;
    transition-duration: 0.1s;
}

select {
    border-radius: 5px;
    padding: 5px 10px;
}

label {
    font-weight: 400;
}

/*****************************/
/*      General Utility      */
/*****************************/

.hide {
    display: none;
}

/***********************/
/*      Title Bar      */
/***********************/

#title-bar {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0px;
    background-color: var(--main-dark);
    color: var(--light-text);
    height: 90px;
}

.main-title {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    width: 90%;
    font-size: 48px;
    margin: 0;
}

.nav-btn {
    /* width: 5%; */
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--main-dark);
    font-size: 16px;
    border: none;
    color: var(--light-text);
    transition-duration: 0.25s;
}

.nav-btn:hover {
    background-color: var(--mid);
    font-size: 20px;
    color: var(--dark-text);
    transition-duration: 0.25s;
}

.flex-container { 
    width: 100%;
    display: flex;
    flex-direction: row;
}

/********************************/
/*      Content Containers      */
/********************************/

#grid-container {
    height: calc(100vh - 90px);
    width: 100vw;
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 50% 50%;
    background: #FFFFFF;
}


#control-container {
    position: relative;
    grid-column-start: 1; 
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
    min-width: 200px;
    height: 100%;
    
    background: #DCDCDC;
    border-right: 1px solid #c8c8c8;
    box-sizing: border-box;
}

#graph-cont {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 100%;
    
    background: #FFFFFF;
}

#container {
    width: calc(100% - 2px);
    height: 100%;
    cursor:move;
}

#table-cont {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2; 
    grid-row-end: 3;
    height: 100%;
    width: 100%;
    background: #EAEAEA;
    cursor:move;
}

#table-svg {
    border-top: 1px solid #c8c8c8;
    scroll-behavior: contain;
    background: #FFFFFF;
    width: calc(100% - 2px);
    height: 100%;
}

#vis-cont {
    width: 90%;
}

#data_popup {
    position: absolute;
    /* min-width: 820px; */
    top: 5vh;
    left: 10vw;
    right: 10vw;
    bottom: 5vh;
    padding: 2em;
    background-color: #FFFFFF;
    border: 1px solid black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 6;
}

#blur_div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    opacity: 66%;
    z-index: 5;
}

/**********************/
/*      Controls      */
/**********************/

.ctrlButton {
    padding: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: var(--main-dark);
    border: none;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.1s;
    color: var(--light-text);
    width: 100%;
}

.ctrlButton:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

#group-controls {
    padding-left: 25px;
}

#slider_grid {
    border-top: 1px solid black;
    border-left: 1px solid black;
    margin: 0 auto;
    display: grid;
    justify-content: center;
}

#lcm_grid {
    margin-left: 25%;
    width: 50%;
    display: grid;
    row-gap: 5px;
    column-gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#layers_grid {
    margin-left: 25%;
    width: 50%;
    row-gap: 5px;
    column-gap: 20px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.control {
    margin-bottom: 5px;
}

.ctrl_title {
    margin-bottom: 1ch;
    margin-top: 1ch;
    text-align: center;
    border-bottom: 1px solid black;
}



#generateBtn {
    width: unset;
    left: 2em;
    right: 2em;
    position: absolute;
    bottom: 20px;
}

.grid-header {
    margin: 0;
    text-align: center;
}

.grid_ele {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    align-content: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.crossed {
    background: url(crossed.svg);
    background-size: 100%;
}

.connect_slider {
    width: 90%;
    left: 5%;
    bottom: 10%;
}

.lcm_slider {
    width: 90%;
    margin: auto;
}

.connect_label {
    display: block;
    width: 90%;
    height: 10%;
    margin-top: 30%;
    margin-bottom: 10%;
    margin-left: 5%;
    text-align: center;
    font-style: bold;
    font-family: sans-serif;
}

.connect_header {
    display: block;
    width: 90%;
    height: 1em;
    margin: 0 auto;
    margin-top: calc(50% - 1em / 2);
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;

}

.table_cell {
    cursor:auto;
}

.graph_el {
    position: relative;

    cursor: auto;
}

.layer {
    z-index: 1;
    cursor: grab;
}

.edge {
    z-index: 2;
    transition-duration: 0.1s;
}

.clique_path {
    z-index: 4;
    transition-duration: 0.1s;
}

.clique{
    z-index: 5;
}

.node {
    z-index: 5;
}

#restart_btn {
    width: calc(100% - 24px);
    position: absolute;
    z-index: 0;
    bottom: 20px;
}