:root {
    --main-dark: #00a6ff;
    --mid: #e8e8e8;
    --light: #ffffff;
    --dark-acc: #54724a;
    --light-acc: #9fc891;
    --off-white:  #ffffff;
    --light-text: #FFFFFF;
    --dark-text: #000000;
    --highlight: #6bff8c;
    --shadow: #ababab;
}



button {
    padding: 10px;
    margin: 4px;
    background-color: var(--main-dark);
    border: none;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.1s;
    color: var(--light-text);
}

button:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

th {
    width: 7ch;
    height: 5ch;
    max-height: 7ch;
    max-width: 5ch;
    justify-content: center;
    border: black;
    background-color: gray;
}

td {
    text-align: center;
}


body {
    background-color: #EDEDED;
    margin: 0;
    overflow: hidden;
}

#title-bar {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0px;
    background-color: var(--main-dark);
    color: var(--light-text);
    height: 90px;
}

    .main-title {
        padding-top: 1rem;
        padding-left: 1rem;
        padding-bottom: 1rem;
        width: 90%;
        font-size: 48px;
        margin: 0;
    }

    .nav-btn {
        /* width: 5%; */
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: var(--main-dark);
        font-size: 16px;
        border: none;
        color: var(--light-text);
        transition-duration: 0.25s;
    }

    .nav-btn:hover {
        background-color: var(--mid);
        font-size: 20px;
        color: var(--dark-text);
        transition-duration: 0.25s;
    }
    
    .flex-container { 
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
#main-container {
    height: calc(100vh - 90px);
    padding-bottom: 10px;
    display:flex;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


#graph-controls {
    padding-left: 12px;
    width: 15%;
    min-width: 315px;
    height: 100%;
    left: 11px;
    top: 2.5%;
    
    background: #DCDCDC;
    border-right: 1px solid #c8c8c8;
    box-sizing: border-box;
}

#group-controls {
    padding-left: 25px;
}

.control {
    margin-bottom: 5px;
}

#vis-cont {
    width: 90%;
}

#graph-cont {
    height: 50%;
    left: 341px;
    right: 18px;
    top: 2.5%;
    
    background: #FFFFFF;
}

#container {
    width: calc(100% - 2px);
    height: 100%;
    cursor:move;
}

#table-cont {
    height: 50%;
    top: 60%;
    background: #EAEAEA;
    cursor:move;
}

#table-svg {
    border-top: 1px solid #c8c8c8;
    scroll-behavior: contain;
    background: #FFFFFF;
    width: calc(100% - 2px);
    height: 100%;
}






.table_cell {
    cursor:auto;
}

line {
    transition-duration: 0.1s;
}

path {
    fill: none;
    transition-duration: 0.1s;
}

select {
    border-radius: 5px;
    padding: 5px 10px;
}

label {
    font-weight: 400;
}

.graph_el {
    position: relative;
    transition-duration: 0.1s;
    cursor: auto;
}

.layer {
    z-index: 1;
    cursor: grab;
}

.edge {
    z-index: 2;
}

.clique_path {
    z-index: 4;
}

.clique{
    z-index: 5;
}

.node {
    z-index: 5;
}