:root {
    --main-dark: #7b9ead;
    --mid: #e8e8e8;
    --light: #ffffff;
    --dark-acc: #54724a;
    --light-acc: #9fc891;
    --off-white:  #ffffff;
    --light-text: #FFFFFF;
    --dark-text: #000000;
    --highlight: #6bff8c;
    --shadow: #ababab;
}

path {
    /* stroke: var(--light-acc); */
    /* stroke-width: 2; */
    fill: none;
}

th {
    width: 7ch;
    height: 5ch;
    max-height: 7ch;
    max-width: 5ch;
    justify-content: center;
    border: black;
    background-color: gray;
}

td {
    text-align: center;
}


body {
    background-color: #EDEDED;
}

.flex-container { 
    width: 100%;
    display: flex;
    flex-direction: row;
}

#title-bar {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0px;
    background-color: var(--main-dark);
    color: var(--light-text);
    height: 90px;
}

.main-title {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    width: 90%;
    font-size: 48px;
    margin: 0;
}

.nav-btn {
    /* width: 5%; */
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--main-dark);
    font-size: 16px;
    border: none;
    color: var(--light-text);
    transition-duration: 0.25s;
}

.nav-btn:hover {
    background-color: var(--mid);
    font-size: 20px;
    color: var(--dark-text);
    transition-duration: 0.25s;
}

#main-container {
    height: calc(100vh - 120px);
    padding-bottom: 10px;
    left: 10px;
    right: 10px;
    display:flex;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#vis-cont {
    width: 90%;
}

#top-cont {
    height: 60%;
    left: 33px;
    right: 33px;
    
    background: #EAEAEA;
    display: flex;
}

#table-cont {
    height: 50%;
    left: 33px;
    right: 33px;
    top: 60%;
    background: #EAEAEA;
    cursor:move;
}

#table-svg {
    scroll-behavior: contain;
    background: #FFFFFF;
    border: 1px solid black;
    width: calc(100% - 10px);
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

#graph-controls {
    padding-left: 12px;
    width: 15%;
    min-width: 270px;
    height: 100%;
    left: 11px;
    top: 2.5%;
    
    background: #DCDCDC;
    border: 1px solid #000000;
    box-sizing: border-box;
}

#graph-cont {
    height: 50%;
    left: 341px;
    right: 18px;
    top: 2.5%;
    
    background: #FFFFFF;
}

#container {
    width: calc(100% - 10px);
    height: 100%;
    cursor:move;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #000000;
}

#group-controls {
    padding-left: 25px;
}

.control {
    margin-bottom: 5px;
}

.layer {
    cursor: grab;
}

.graph_el {
    cursor: auto;
}

.table_cell {
    cursor:auto;
}