:root {
    --main-dark: #7b9ead;
    --mid: #e8e8e8;
    --light: #ffffff;
    --dark-acc: #54724a;
    --light-acc: #9fc891;
    --off-white:  #ffffff;
    --light-text: #FFFFFF;
    --dark-text: #000000;
    --highlight: #6bff8c;
    --shadow: #ababab;
}

body {
    user-select: none;
    margin: 0;
    overflow-x: hidden;
    background-color: var(--mid);
    overflow: overlay;
}

p {
    margin-block-start: 0px;
    line-height: 1.6;
    max-width: 60ch;
}

.flex-container {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.container_svg {
    position: absolute;
    margin:0;
    overflow: visible;
    z-index: 99 !important;
}

.user-panel {
    position: relative;
    width: 100%;
    background-color: var(--off-white);
    box-shadow: 5px 5px 10px 1px var(--shadow);
}

#info-panel {
    width: 21.25%;
    margin-left: 2.5%;
    margin-right: 1%;
    
}

.preview-canvas {
    width: 50%;
    max-height: 15vh;
    margin-left: 25%;
    margin-top: 2.5%;
}

#main-panel {
    width: 73.75%;
    margin-left: 1%;
    margin-right: 2.5%;
}

.highlighted-text {
    background-color: var(--highlight);
}

.caption-text {
    user-select: text;
    width: 95%;
    padding-left: 5%;
    font-size: 32px;
}

#base-img {
    max-height: 50vh;
    margin-left: 5%;
    margin-top: 2.5%;
}

#svg_cont {
    
    top: 0;
    left: 0;
    margin-left: 5%;
    margin-top: 2.5%;
    z-index: 2;
    position: absolute;
}

#drawing-parent {
    position: relative;
}

.marker {
    position:absolute;
    display: none;
}

.vis-marker {
    position:absolute;
    display: block;
}

.selected_link {
    transition-duration: .1s;
    stroke-width: 5px;
}

path {
    stroke: var(--light-acc);
    stroke-width: 2;
    fill: none;
}

.svg_text {
    stroke: var(--dark-text);
    fill: var(--light-text);
    stroke-width: 1px;
    font: bold 20px sans-serif;
}

.finished_rect:hover {
    transition-duration: 0.1s;
    stroke-width: 4px;
    stroke-opacity: 0.5;
}

.selected {
    stroke-width: 4px;
    transition-duration: 0.1s;
    stroke-dasharray: 5,5;
}

#controls {
    margin-bottom: 2.5%;
    margin-left: 5%;
}

#title-bar {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-color: var(--main-dark);
    color: var(--light-text);
}

.main-title {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    width: 90%;
    font-size: 48px;
    margin: 0;
}

.nav-btn {
    /* width: 5%; */
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--main-dark);
    font-size: 16px;
    border: none;
    color: var(--light-text);
}

.nav-btn:hover {
    transition-duration: .2s;
    background-color: var(--mid);
    font-size: 20px;
    color: var(--dark-text);
}

#context-menu {
    position: fixed;
    z-index: 10000;
    width: 170px;
    background: var(--main-dark);
    border: 2px solid var(--main-dark);
    display: none;
}

#context-menu.visible {
    display: block;
}

#context-menu .menu-item {
    width: inherit;
    margin: 5px 0px;
    cursor: pointer;
}

.menu-button {
    padding: 0;
    font-size: 18px;
    width: inherit;
    background-color: var(--main-dark);
    border: none;
    color: var(--light-text);
    display: none;
    transition-duration: 0.4s;
}

button.visible {
    padding-top: 4px;
    padding-bottom: 4px;
    display: block;
    padding: 8px;
}

.menu-button:hover {
    background-color: var(--mid);
    color: var(--dark-text);
}

#rename_controls {
    display: none;
}

#rename_controls.visible {
    display: block;
}

