:root {
    /*define colors*/
    --main-dark: #313638;
    --mid-dark: #898B87;
    --mid-tone: #E0DFD5;
    --light: #E8E9EB;
    --dark-acc: #04151F;
    --mid-acc: #183A37;
    --light-acc: #ABC69C;
    --light-text: #FFFFFF;
    --dark-text: #000000;
    --highlight: #fca5b5;
}

body {
    user-select: none;
    margin: 0;
    overflow-x: hidden;
    background-color: var(--main-dark);
}

.flex-container {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    display: flex;
    flex-direction: row;
}

/********************/
/* User Interaction */
/********************/

.user-panel {
    position: relative;
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-color: var(--mid-tone);
    border: 2px solid var(--dark-text);   
    border-style: inset;
    border-radius: 5px;
    margin-top: 4%;
}

/* Text - Caption Box */

#sample-text {
    user-select: text;
}


.special-text {
    padding-left: 5%;
    font-size: 32px;
}

/* Drawing Box */

.draw-canvas {
    width: 90%;
    margin-left: 5%;
    margin-top: 2.5%;
}

.base-img {
    width: 90%;
    margin-left: 5%;
    margin-top: 2.5%;
}


.svg_cont {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 90%;
    margin-left: 5%;
    margin-top: 2.5%;
    z-index: 2;
}

.finished_rect:hover {
    transition-duration: 0.1s;
    stroke-width: 8px;
}

.selected {
    stroke-width: 8px;
}

.preview-canvas {
    width: 90%;
    margin-left: 5%;
    margin-top: 2.5%;
}

.preview-panel {
    width: 15%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    background-color: var(--mid-tone);
    border: 2px solid var(--dark-text);   
    border-style: inset;
    border-radius: 5px;
}

#controls {
    margin-bottom: 2.5%;
    margin-left: 5%;
}



/****************/
/* Context Menu */
/****************/

#context-menu.visible {
    display: block;
}

#context-menu {
    position: fixed;
    z-index: 10000;
    width: 170px;
    background: var(--mid-dark);
    border: 2px solid var(--dark-text);
    border-radius: 5px;
    display: none;
}

#context-menu .menu-item {
    width: inherit;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 15px;
    color: var(--light-text);
    cursor: pointer;
    border-radius: inherit;
}

.menu-button {
    font-size: 18px;
    width: inherit;
    padding: 8px;
    background-color: var(--mid-dark);
    border: none;
    color: var(--light-text);
    transition-duration: 0.4s;
}

.menu-button:hover {
    background-color: var(--mid-tone);
}